MONGODB_URI = 'mongodb connection string here'

CLOUDINARY_NAME = 'cloudinary name here'
CLOUDINARY_API_KEY = 'cloudinary api key here'
CLOUDINARY_SECRET_KEY = 'cloudinary secret key here'

ADMIN_EMAIL = 'admin email here'
ADMIN_PASSWORD = 'admin password here'

JWT_SECRET = 'jwt secret here'